Options -MultiViews
RewriteEngine On
RewriteRule ^indicadores$ indicadores.php [L]
RewriteRule ^home$ home.php [L]

RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>